<div>
  <h1>Hola, {{user.name}}</h1>
  <p>Correo: {{user.email}}</p>
  <p>Role: {{user.role}}</p>
  <p>Car: {{user.cart}}</p>
  <div>
    <button id='productsButton'>Check products</button>
    <button id='logoutButton'>Log out</button>
    </div>
</div>

<script src='./js/profileView.utils.js'></script>