<div>
  <h1>Regístrate</h1>
  <form id="registerForm">
    <label for="inputName">Nombre</label>
    <input name="first_name" id="inputName" type="text" />

    <label for="inputLastname">Apellido</label>
    <input name="last_name" id="inputLastname" type="text" />

    <label for="inputEmail">Email</label>
    <input name="email" id="inputEmail" type="text" />

    <label for="inputPassword">Contraseña</label>
    <input name="password" id="inputPassword" type="password" />

    <input id="submitButton" type="submit" />
  </form>
</div>

<script src="./js/register.js"></script>