<h1>Please create a new password for your account.</h1>
<form id='resetPasswordForm'>
  <input name='password' />
  <input type='submit' id='submitter' />
</form>
<p id='message'></p>

<script src="./js/reset-password.js"></script>