<h1>Escribe tu correo</h1>
<p>El correo que escribas recibirá un link de restauración solamente si este se encuentra registrado</p>

<form id='resetPasswordRequestForm'>
  <input name='email' />
  <input type='submit' id='submitter' />
</form>
<p id='message'></p>

<script src="./js/reset-password-request.js"></script>