<div><h1>Home View</h1></div>
<div>
    {{#each products}}
        <div style="margin: 16px; padding:8px; background-color:cadetblue">
            <h3>{{this.title}}</h3>
            <p>{{this.description}}</p>
        </div>
    {{/each}}
</div>

